server:
  port: 8080
spring:
  webflux:
    base-path: "/api/v1"
  application:
    name: "ms-auth"
  devtools:
    add-properties: false
  h2:
    console:
      enabled: true
      path: "/h2"
  profiles:
    include: null
  data:
    mongodb:
      uri: "mongodb://root:root@localhost:27017/test?authSource=admin"
management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true
cors:
  allowed-origins: "http://localhost:4200,http://localhost:8080"

jwt:
  secret: ${JTW_SECRET:hjdsafjghdsjgfhjsdgfyugweyutopiqwqwewqejhjkashdjk}
  expirationRefreshToken: ${JWT_EXPIRATION_REFRESH:28800}
  expirationAccessToken: ${JWT_EXPIRATION_ACCESS:875}

security:
  pbkdf2:
    iterations: ${PBKDF2_ITERATIONS:65536}
    keyLength: ${PBKDF2_KEY_LENGTH:256}
    saltLength: ${PBKDF2_SALT_LENGTH:16}
