<h2 class="text-3xl text-center text-primary font-mono mb-4 mt-6 text-black">🎬 Trending Movies</h2>
<mat-divider></mat-divider>

<div class="container m-auto grid grid-cols-1 gap-4 w-xs md:w-2xl md:grid-cols-2 lg:w-full lg:grid-cols-4 py-4">
    <div *ngFor="let movie of infoMovie.movies">
        <card-movie [movie]="movie"></card-movie>
    </div>
</div>

<div class="flex justify-center my-6">
    <app-pagination [length]="infoMovie.totalPages" [pageSize]="infoMovie.total"
        (triggerPage)="pageEvent($event)"></app-pagination>
</div>