<div class="container m-auto grid grid-cols-1 gap-4 w-xs md:w-2xl md:grid-cols-3 lg:w-full lg:grid-cols-4 py-4">
    <mat-card class="flex flex-col justify-center items-center" appearance="outlined">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Extra large</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <img class="h-96 w-56 object-contain rounded-md"
            src="https://image.tmdb.org/t/p/w342/sMybEeAn3aFXsIUUcWPSFXlS6qS.jpg">

        <mat-card-content>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
            agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </mat-card-content>
    </mat-card>

    <mat-card class="flex flex-col justify-center items-center" appearance="outlined">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Extra large</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <img class="h-96 w-56 object-contain rounded-md"
            src="https://image.tmdb.org/t/p/w342/jJ8AiqKKiZWZaiYMyhlF0FNH4xJ.jpg">

        <mat-card-content>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
            agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </mat-card-content>
    </mat-card>

    <mat-card class="flex flex-col justify-center items-center" appearance="outlined">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Extra large</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <img class="h-96 w-56 object-contain rounded-md"
            src="https://image.tmdb.org/t/p/w342/xeEw3eLeSFmJgXZzmF2Efww0q3s.jpg">

        <mat-card-content>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
            agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </mat-card-content>
    </mat-card>

    <mat-card class="flex flex-col justify-center items-center" appearance="outlined">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Extra large</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <img class="h-96 w-56 object-contain rounded-md"
            src="https://image.tmdb.org/t/p/w342/sMybEeAn3aFXsIUUcWPSFXlS6qS.jpg">

        <mat-card-content>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
            agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </mat-card-content>
    </mat-card>

    <mat-card class="flex flex-col justify-center items-center" appearance="outlined">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Extra large</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <img class="h-96 w-56 object-contain rounded-md"
            src="https://image.tmdb.org/t/p/w342/xeEw3eLeSFmJgXZzmF2Efww0q3s.jpg">

        <mat-card-content>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
            agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </mat-card-content>
    </mat-card>

</div>



<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[1, 5, 10, 20]" aria-label="Select page">
</mat-paginator>